In [1]:
import pandas as pd
import re

In [2]:
file_path = "C:/Users/sunny/Desktop/ABC/gencode.v22.annotation.gtf"
gene_annotation = pd.read_csv(file_path, skiprows=5, header=None, sep= "\t")
gene_annotation.head()

,0,1,2,3,4,5,6,7,8
0,chr1,HAVANA,gene,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; gene_type ""transc..."
1,chr1,HAVANA,transcript,11869,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
2,chr1,HAVANA,exon,11869,12227,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
3,chr1,HAVANA,exon,12613,12721,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."
4,chr1,HAVANA,exon,13221,14409,.,+,.,"gene_id ""ENSG00000223972.5""; transcript_id ""EN..."

In [5]:
import time
starttime = time.time()
file_path = "C:/Users/sunny/Desktop/ABC/gencode.v22.annotation.gtf"
gene_id_list = []
gene_type_list = []
gene_name_list = []
f = open(file_path, 'r')
for line in f.readlines():
    if line.startswith("#"):
        continue
    gene_id = re.search(r'gene_id ".+?"', line).group()[11:-1]
    gene_type = re.search(r'gene_type ".+?"', line).group()[11:-1]
    gene_name = re.search(r'gene_name ".+?"', line).group()[11:-1]
    gene_name_list.append(gene_name)
    gene_id_list.append(gene_id)
    gene_type_list.append(gene_type)
gene_type_df = pd.DataFrame(gene_type_list, columns=["gene_type"])
gene_id_df = pd.DataFrame(gene_id_list, columns=["gene_id"])
gene_name_df = pd.DataFrame(gene_name_list, columns=["gene_name"])
df1 = pd.concat([gene_name_df, gene_type_df, gene_id_df], axis=1)
endtime = time.time()
print(endtime-starttime)

25.178478717803955

In [6]:
df1.head()

  gene_name                           gene_type          gene_id
0   DDX11L1  transcribed_unprocessed_pseudogene  SG00000223972.5
1   DDX11L1  transcribed_unprocessed_pseudogene  SG00000223972.5
2   DDX11L1  transcribed_unprocessed_pseudogene  SG00000223972.5
3   DDX11L1  transcribed_unprocessed_pseudogene  SG00000223972.5
4   DDX11L1  transcribed_unprocessed_pseudogene  SG00000223972.5

In [7]:
gene_annotation.shape

(2563671, 9)

In [8]:
df2 = gene_annotation.drop([8],axis=1)

In [9]:
df = pd.concat([df1, df2],axis=1)

In [10]:
df.head()

,gene_name,gene_type,gene_id,0,1,2,3,4,5,6,7
0,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,gene,11869,14409,.,+,.
1,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,transcript,11869,14409,.,+,.
2,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,11869,12227,.,+,.
3,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,12613,12721,.,+,.
4,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,13221,14409,.,+,.

In [11]:
df["ensmbol_id"] = df["gene_id"].str[:15]
df.head()

,gene_name,gene_type,gene_id,0,1,2,3,4,5,6,7,ensmbol_id
0,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,gene,11869,14409,.,+,.,SG00000223972.5
1,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,transcript,11869,14409,.,+,.,SG00000223972.5
2,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,11869,12227,.,+,.,SG00000223972.5
3,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,12613,12721,.,+,.,SG00000223972.5
4,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,chr1,HAVANA,exon,13221,14409,.,+,.,SG00000223972.5

In [12]:
df = df.iloc[:, [0,1,2,5,11]]

In [13]:
df.head()

,gene_name,gene_type,gene_id,2,ensmbol_id
0,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,gene,SG00000223972.5
1,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,transcript,SG00000223972.5
2,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5
3,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5
4,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5

In [14]:
df.columns = ['gene_name', 'gene_type', 'gene_id', "type", 'ensmbol_id']

In [15]:
df

,gene_name,gene_type,gene_id,type,ensmbol_id
0,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,gene,SG00000223972.5
1,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,transcript,SG00000223972.5
2,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5
3,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5
4,DDX11L1,transcribed_unprocessed_pseudogene,SG00000223972.5,exon,SG00000223972.5
...,...,...,...,...,...
2563666,MT-TT,Mt_tRNA,SG00000210195.2,transcript,SG00000210195.2
2563667,MT-TT,Mt_tRNA,SG00000210195.2,exon,SG00000210195.2
2563668,MT-TP,Mt_tRNA,SG00000210196.2,gene,SG00000210196.2
2563669,MT-TP,Mt_tRNA,SG00000210196.2,transcript,SG00000210196.2
2563670,MT-TP,Mt_tRNA,SG00000210196.2,exon,SG00000210196.2

In [16]:
df["gene_type"].unique()

array(['transcribed_unprocessed_pseudogene', 'unprocessed_pseudogene',
       'miRNA', 'lincRNA', 'protein_coding', 'processed_pseudogene',
       'antisense', 'processed_transcript', 'snRNA', 'sense_intronic',
       'misc_RNA', 'transcribed_processed_pseudogene', 'TEC', 'snoRNA',
       'scaRNA', 'rRNA', 'unitary_pseudogene', '3prime_overlapping_ncrna',
       'polymorphic_pseudogene', 'sense_overlapping', 'pseudogene',
       'IG_V_pseudogene', 'transcribed_unitary_pseudogene', 'sRNA',
       'IG_V_gene', 'IG_C_gene', 'IG_J_gene', 'ribozyme', 'vaultRNA',
       'non_coding', 'TR_C_gene', 'TR_J_gene', 'TR_V_gene',
       'TR_V_pseudogene', 'IG_C_pseudogene',
       'translated_unprocessed_pseudogene', 'macro_lncRNA', 'TR_D_gene',
       'TR_J_pseudogene', 'translated_processed_pseudogene',
       'IG_J_pseudogene', 'IG_D_gene', 'Mt_tRNA', 'Mt_rRNA'], dtype=object)

In [17]:
df.shape

(2563671, 5)

In [18]:
df1 = df.loc[53]
df1

gene_name               OR4F5
gene_type      protein_coding
gene_id       SG00000186092.4
type                     gene
ensmbol_id    SG00000186092.4
Name: 53, dtype: object

In [20]:
df1 = df.loc[(df["gene_type"] == "protein_coding") & (df["type"] == "gene"),:]
df1

          gene_name       gene_type          gene_id  type       ensmbol_id
53            OR4F5  protein_coding  SG00000186092.4  gene  SG00000186092.4
128      FO538757.3  protein_coding  SG00000279928.1  gene  SG00000279928.1
140      FO538757.2  protein_coding  SG00000279457.2  gene  SG00000279457.2
335          OR4F29  protein_coding  SG00000278566.1  gene  SG00000278566.1
434          OR4F16  protein_coding  SG00000273547.1  gene  SG00000273547.1
...             ...             ...              ...   ...              ...
2563625     MT-ND4L  protein_coding  SG00000212907.2  gene  SG00000212907.2
2563632      MT-ND4  protein_coding  SG00000198886.2  gene  SG00000198886.2
2563646      MT-ND5  protein_coding  SG00000198786.2  gene  SG00000198786.2
2563652      MT-ND6  protein_coding  SG00000198695.2  gene  SG00000198695.2
2563660      MT-CYB  protein_coding  SG00000198727.2  gene  SG00000198727.2

[19814 rows x 5 columns]

In [72]:
df.to_csv("C:/Users/sunny/Desktop/ABC/c.csv")

In [80]:
df1.to_csv("C:/Users/sunny/Desktop/ABC/protein_coding_gene_annotation.csv")